body{
    background-color: rgb(34, 34, 70);
}
#eyeicon{
    cursor: pointer;
    height: auto;
    width: 25px;
    margin-left: -25px;
}
.inputbox{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
input{
    border: 2px solid;
}
#password :placeholder{
    border: 23px solid;
}
#massage{
    margin-left: 38%;
    display: none;
}
.mass{
    display: flex;
    margin-top: 2px;
    margin-left: 110px;
}